super-ai-engineer-season-6-individual-hackathon-house-recognition/test/**
super-ai-engineer-season-6-individual-hackathon-house-recognition/train/**
super-ai-engineer-season-6-individual-hackathon-house-recognition.zip
